services:
  backend:
    build: ./backend/
    stop_grace_period: 30s
    init: true
    ports: 
      - 9001:9001
    environment:
      PORT: 9001
      ALLOW_ORIGIN: ".*"
  frontend:
    build: 
      context: ./
    depends_on:
      - backend
    ports:
      - 3001:3001
    environment:
      REACT_APP_BROKER_URL: "http://localhost:9001"
      REACT_APP_VERSION: "1.10.2"
      REACT_APP_MAINTENANCE: "false"

